.list-status{
  position: absolute;
  left: 228px;
  top: -1px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: none;
}
.show-status-list:hover .list-status{
  display: block;
}
.action-list{
  width: 228px;
  a{
    color: #212529;
    margin-left: 10px;
  }
  i{
    font-size: 18px;
  }
}
.icon-rigth{
  margin-left: 20px;
}