.invoice-create-body{
  background-color: #fff;
}

.wrapper-invoice-create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "invoice-box-1 invoice-box-2"
                       "invoice-box-1 invoice-box-3"
                       "invoice-box-4 invoice-box-4"
                       "invoice-box-5 invoice-box-6";
  //justify-items: stretch;
  //align-items: stretch;

    > div {
        padding: 1em;
    }
}

.invoice-from-to-customer-box{
  grid-area: invoice-box-1;
  .company-data-show {
    min-height: 200px;
    margin-top: 10px;
    span {
      display: block;
    }
  }
  .company-data-show {
    a {
      text-decoration: none;
      color: grey;
      font-weight: bold;
    }
  }
  
  .customer-data-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    margin-top: 10px;
    span {
      display: block;
    }
    a {
      text-decoration: none;
      color: grey;
      font-weight: bold;
    }
  }
}

.invoice-logo-box{
  grid-area: invoice-box-2;
  .company-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      display: block;
    }
    button {
      width: 150px;
      display: block;
    }
  }
}

.invoice-num-date-box{
  grid-area: invoice-box-3;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.invoice-item-box{
  grid-area: invoice-box-4;
  
  .items-table-header, .items-table-row {
    display: grid;
    //height: 35px;
    grid-template-columns: 1.5fr 3fr 1fr 1fr 1fr;
    //grid-auto-rows: minmax(100px, auto);
  }
  .items-table-header{
    margin-left: 18px;
    background-color: #54A0E7;
    color: #eee;
    > div {
      padding: 3px 14px;
    }
  }
  .items-table-row {

  }

  .items-table-header-show, .items-table-row-show {
      display: grid;
      //height: 35px;
      grid-template-columns: 3fr 6fr 1fr 1fr 1fr;
      //grid-auto-rows: minmax(100px, auto);
  }
  .items-table-header-show {
    margin: 0;
    background-color: #54A0E7;
    color: #eee;
    > div {
      padding: 3px 14px;
    }
  }
  
  .items-table-body {
    border: 1px solid #ced4da;
  }
  .items-table-row-show {
    margin-top: 5px;
    > div {
      padding: 3px 14px;
    }
  }
    .invoice-table-row-notes {
      margin-top: 20px;
      > div {
        padding: 3px 14px;
      }
  }
  .invoice-table-result {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 3fr 2fr;
    border: 1px solid #ced4da;
    border-top: none;
    padding: 3px 10px;
    .invoice-empty {
      border-right: 1px solid #ced4da;
    }
  }
  
  .remove-item-button {
    margin: 0;
    padding: 2px;
    cursor: pointer;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    color: $color-error;
  }
  .empty-item-button {
    margin: 0;
    padding: 2px;
    font-size: 25px;
    line-height: 35px;
    opacity: 0;
  }

}

.invoice-notes-box{
  grid-area: invoice-box-5;
  display: flex;
  flex-direction: column;
}

.invoice-total-box{
  grid-area: invoice-box-6;
  margin-top: 30px;
  margin-left: 30px;
}

