.paid {
    display: block;
    position: relative;
    background-image: url("/img/paid.jpg");
    height: 60px; width: 100px;
    margin: -30px 20% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}